// top
.z-mg-t20{
	margin-top: 20upx !important;
}

.z-mg-t40{
	margin-top: 40upx !important;
}

// bottom
.z-mg-b20{
	margin-bottom: 20upx !important;
}

// left
.z-mg-l20{
	margin-left: 20upx !important;
}

// right
.z-mg-r20{
	margin-right: 20upx !important;
}

// public
.z-view-pd10{
	padding: 10px;
}

.uni-input {
	height: 60upx;
}